<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <h1>Nguyễn Đoàn Minh Tâm</h1>
        <img class="image" src="/img/logo.png">
        <button id="loginButton">Login</button>
        <button id="signUpButton">Sign up</button>
    </div>
    <script src="/js/homePage.js"></script>
</body>
</html>