<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Đã đăng nhập với tư cách User</h1>
    <img class="image" src="/img/logo.png">
    <div>
        Các tính năng có thể sử dụng:
        <button>Chức năng 1</button>
        <button>Chức năng 2</button>
        <button>Chức năng 3</button>
        <button>Chức năng 4</button>
        <button id="logout">Log out</button>
    </div>
    <script src="/js/norUserWorkspace.js"></script>
</body>
</html>